* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 1rem;
  background-color: #fbf3eb; }
  body header {
    background-color: #fbf3eb;
    margin: 0px 0px 0px 0px; }
    body header h1 {
      display: none; }
    body header nav {
      background-color: #ffec31; }
      body header nav ul {
        font-family: Raleway, sans-serif;
        font-size: 1rem;
        color: #3c475d;
        list-style-type: none;
        background-color: #ffec31; }
        body header nav ul li a {
          font-family: Raleway, sans-serif;
          font-size: 1rem;
          color: #3c475d;
          text-decoration: none; }
        body header nav ul li a:hover {
          font-size: 1.1rem;
          color: #ffd345;
          text-shadow: 2px 2px 2px #3c475d; }
  body main {
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    color: #3c475d; }
    body main div h1 {
      font-family: Acme, sans-serif;
      font-size: 2.3rem;
      color: #e10b38;
      text-transform: uppercase;
      background-color: #eff8f8;
      padding: 1%;
      font-weight: bold; }
    body main section h1 {
      font-family: Acme, sans-serif;
      font-size: 2.3rem;
      color: #e10b38;
      text-transform: uppercase;
      background-color: #eff8f8;
      padding: 1%;
      font-weight: bold; }
    body main section h3 {
      font-family: Acme, sans-serif;
      font-size: 1.5rem;
      color: #e10b38;
      letter-spacing: 2px;
      background-color: #ffffe3;
      font-weight: bold;
      padding: 1%; }
    body main section h4 {
      font-family: Raleway, sans-serif;
      font-size: 1.1rem;
      color: #138359;
      letter-spacing: 1px;
      padding-left: 3%;
      font-weight: bold; }
    body main section p {
      padding: 2%; }
    body main section ul {
      list-style-type: none; }
    body main section div ul {
      list-style-type: none; }
    body main section div img {
      width: 100%;
      height: 100%; }
  body footer {
    color: #3c475d;
    font-family: Raleway, sans-serif;
    background-color: #ffec31;
    margin: 1% 0% 1% 0%; }
    body footer div {
      padding-top: 1%;
      padding-left: 0%;
      margin-left: 0%; }
      body footer div h6 {
        font-size: 0.9rem;
        margin-bottom: 1%;
        margin-top: 0%; }
      body footer div p {
        font-size: 0.8rem;
        padding-left: 0%; }
      body footer div a {
        font-size: 0.8rem; }

.contacto {
  background-color: #eff8f8; }

@media only screen and (max-width: 767px) {
  header div img {
    width: 35%;
    height: 35%;
    border: none; }
  main {
    font-size: 1rem; }
    main section div img {
      width: 100%;
      height: 100%; }
  footer {
    font-size: 0.8rem; }
    footer div {
      padding-left: 1%; }
      footer div h6 {
        font-size: 0.9rem; } }

@media only screen and (min-width: 768px) {
  header div img {
    width: 25%;
    height: 25%;
    border: none; }
  main {
    font-size: 1rem; }
    main section div img {
      width: 100%;
      height: 100%; }
  footer {
    font-size: 0.8rem; }
    footer div {
      padding-left: 1%; }
      footer div h6 {
        font-size: 0.9rem; } }

@media only screen and (min-width: 991px) {
  header div img {
    width: 20%;
    height: 20%;
    border: none; }
  main {
    font-size: 1rem; }
    main section div img {
      width: 100%;
      height: 100%; }
  footer {
    font-size: 0.9rem; }
    footer div {
      padding-left: 3%; }
      footer div h6 {
        font-size: 1rem; }
      footer div p {
        font-size: 1rem; }
      footer div a {
        font-size: 1rem; } }

/*Botones*/
.boton-amarillo {
  background-color: #ffd345;
  color: #3c475d;
  border: solid 1px #ffec31; }

.boton-aguamarina {
  background-color: #eff8f8;
  color: #3c475d;
  border: solid 1px #ffec31; }

.boton-crema {
  background-color: #ffffe3;
  color: #3c475d;
  border: solid 1px #ffec31; }

/* Animaciones y Transiciones */
@keyframes animacion-foto {
  0% {
    opacity: 0%; }
  60% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

.animacion-foto {
  animation-name: animacion-foto;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes animacion-titulos {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

.animacion-titulos {
  animation-name: animacion-titulos;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes animacion-subtitulos {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

.animacion-subtitulos {
  animation-name: animacion-subtitulos;
  animation-duration: 4.5s;
  animation-iteration-count: 1; }

@keyframes animacion-header {
  0% {
    transform: translateY(-100%);
    opacity: 0%; }
  100% {
    transform: translateY(0%);
    opacity: 100%; } }

.animacion-header {
  animation-name: animacion-header;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes animacion-parrafo {
  0% {
    opacity: 0%; }
  50% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.animacion-parrafo {
  animation-name: animacion-parrafo;
  animation-duration: 5s;
  animation-iteration-count: 1; }

p.textoContactanos:hover {
  font-size: 120%; }
