
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}
$fondo-pagina: #fffff6;
$fondo-titulos: #eafbf5;
$fondo-subtitulos: #fffeba;
$fondo-secundario: #e8f7f7;
$fondo-nav: #ffec31;
$color-titulo-1: #9e234a;
$color-titulo-2: #e10b38;
$amarillo: #ffec31;
$amarillo-claro: #ffd345;
$beige: #fbf3eb;
$aguamarina: #eff8f8;
$gris: #14181f;
$gris-claro: #cbd1de;
$verde-oscuro: #138359;
$azul: #235f51;
$verde: #15cabe;
$rojo-oscuro: #e10b38;
$crema: #ffffe3;

$size-font-base: 1rem;
$size-font-xs: 0.8rem;
$size-font-chica: 0.9rem;
$size-font-mediana: 1.1rem;
$size-font-grande: 1.5rem;
$size-font-xl: 2.2rem;

$font-logo: Thasadith, sans-serif;
$font-titulos: Thasadith, sans-serif;
$font-general: Raleway, sans-serif;

@mixin propiedades-texto($font-family, $font-size, $color) {
	font-family: $font-family;
	font-size: $font-size;
	color: $color;
}
@mixin propiedades-flex($display, $flex-direction, $justify-content, $align-items) {
	display: $display;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

body {
	font-size: $size-font-base;
	background-color: $fondo-pagina;
	header {
		background-color: $fondo-pagina;
		margin: 0px 0px 0px 0px;
		/*h1 { 
			display: none;
		}
			*/	
		nav {
			background-color: $fondo-nav;
			ul {
			   @include propiedades-texto($font-general, $size-font-base, $gris);
			   list-style-type: none;
			   background-color: $fondo-nav;
			   
			    li {
			       a {
   				    @include propiedades-texto($font-general, $size-font-base, $gris);
    		       	text-decoration: none;
			       }
			       a:hover {
			       	font-size: $size-font-mediana;
			       	color: $rojo-oscuro;
			       }
			    }
			}
		}
	}

	main {
		@include propiedades-texto($font-general, $size-font-base, $gris);
		
		div {
			h1 {
		   	@include propiedades-texto($font-titulos, $size-font-xl, $rojo-oscuro);
			text-transform: uppercase;
		    background-color: $fondo-titulos;
		    padding: 1%;
		    font-weight: bold;	
			}
		}

		section {
           
		   h1 {
		   	@include propiedades-texto($font-titulos, $size-font-xl, $rojo-oscuro);
		    text-transform: uppercase;
		    background-color: $fondo-titulos;
		    padding: 1% 1% 4% 1%;
		    font-weight: bold;
		   }

		   h3 {
		   	@include propiedades-texto($font-titulos, $size-font-grande, $rojo-oscuro);
			letter-spacing: 2px;
			background-color: $fondo-subtitulos;
			font-weight: bold;
			padding: 1%;
			text-transform: uppercase;
		   }
		   h4 {
		   	@include propiedades-texto($font-titulos, $size-font-mediana, $verde-oscuro);
			letter-spacing: 1px;
			padding-left: 3%;
			font-weight: bold;
		   }
		    p {
			padding: 2%;
		   }
		
		    ul {
			list-style-type: none;
		    }

		    div {

			    ul {
				 list-style-type: none;

			    }
			  
			    p {
			  	.pagina__texto {
			  		@include propiedades-texto($font-general, $size-font-mediana, $verde-oscuro);
			  		margin: 2%;
			  		padding: 3%;
			  	}
			  	
			  }
			}
		}
	}
	footer {
		@include propiedades-texto($font-general, $size-font-xs, $gris)
		background-color: $fondo-nav;
		margin: 1% 0% 1% 0%;
		div {
			padding-top: 1%;
			padding-left: 0%;
			margin-left: 0%;
		    h6 {
		       font-family: $fondo-titulos;
			   font-weight: bold;
			   margin: 0.5%;
			   padding: 1%;
		    }
		    p {
			   padding: 1%;
			   margin: 0.5%;
			   border: none;
		    }

		    a {
			   color: $verde-oscuro;
		    }
	    }
	}

}
#fotoHome {
	width: 100%;
	height: 100%;
}
.contacto {
	background-color: $fondo-titulos;
}


.textoContactanos {
	@include propiedades-texto ($font-titulos, $size-font-mediana, $verde-oscuro);
	font-weight: bold;
	background-color: $fondo-secundario;
	padding: 2%;
	margin-left: 3%;
	margin-right: 3%;
	a {
		color: $verde;
	}
}


@media only screen and (max-width: 767px){
	
	main {
		section {
			div{
				
				h1 {
					font-size: $size-font-grande;
				}
				p {
					.pagina__texto {
						font-size: $size-font-base;
					}
				}
			}
		}
		
	
	}	
	footer {
		div {
			h6{
				font-size: $size-font-chica;
			}
		}
	}
	

}
@media only screen and (min-width: 768px){
	
	main {
		section {
			div{
			    p {
					.pagina__texto {
						font-size: $size-font-mediana;
					}
				}
			}
		}
	
	}	
	footer {
		div {
			padding-left: 1%;
			h6{
				font-size: $size-font-base;
			}
			p {
				font-size: $size-font-base;
			}
			a {
				font-size: $size-font-base;
			}
		}
	}
	


}
@media only screen and (min-width: 991px){
	main {
		section {
			div{
			    p {
					.pagina__texto {
						font-size: $size-font-grande;
					}
				}
			}
		}
	
	}
	
	footer {
		div {
			padding-left: 3%;
			h6{
				font-size: $size-font-base;
			}
			p {
				font-size: $size-font-base;
			}
			a {
				font-size: $size-font-base;
			}
		}
	}
	


}
/*Botones*/
$color-botones: (amarillo: $amarillo-claro, aguamarina: $aguamarina, crema: $crema);

@each $name, $tono in $color-botones {
	.boton-#{$name} {
		background-color:#{$tono};
        color: $gris;
        border: solid 1px $amarillo;
	}
}

/*Logo*/
@import "logo";

/*Animaciones*/

@import "animaciones";




	
