/*Colores*/
$fondo-pagina: #fffdec;
$fondo-titulos: #fff9b9;
$fondo-secundario: #eff8f8;
$fondo-nav: #ffec31;
$color-titulo-1: #ffc201;
$color-titulo-2: #e10b38;
$amarillo: #ffec31;
$amarillo-claro: #ffd345;
$beige: #fbf3eb;
$aguamarina: #eff8f8;
$gris: #3c475d;
$gris-claro: #cbd1de;
$verde-oscuro: #138359;
$azul: #235f51;
$rojo-oscuro: #e10b38;

$color-texto: (titulos: $rojo-oscuro, subtitulos: $rojo-oscuro, principal: $gris, secundario: $azul, extra: $verde-oscuro);

@each $name, $tono in $color-texto {
	.texto-#{$name} {
		color:#{$tono};
	}
}
/*Tamaño de fuentes y tipografias */
$size-font-base: 1rem;
$size-font-chica: 0.9rem;
$size-font-mediana: 1.1rem;
$size-font-grande: 1.3rem;
$size-font-xl: 1.8rem;

$font-titulos: Acme, sans-serif;
$font-general: Raleway, sans-serif;

body {
	font-size: $size-font-base;
	background-color: $fondo-pagina;
	header {
		background-color: $fondo-pagina;
		margin: 0px 0px 0px 0px;
				
		nav {
			background-color: $fondo-nav;
			ul {
			   font-size: $size-font-base;
			   color: $gris;
			   font-family: $font-general;
			   list-style-type: none;
			   background-color: $fondo-nav;
			   
			    li {
			       font-size: $size-font-base;
			       text-decoration: none;

			       a {
			       	color: $gris;
			       	text-decoration: none;
			       	font-weight: bold;
			       }
			       a:hover {
			       	color: $rojo-oscuro;
			       	text-shadow: 2px 2px 1px $gris;
			       }
			    }
			}
		}
	}

	main {
		color: $gris; 
		font-size: $size-font-chica;
		section {
        
		   h1 {
		   font-size: $size-font-xl;
		   font-family: $font-titulos;
		   text-transform: uppercase;
		   background-color: $fondo-titulos;
		   }

		   h3 {
			letter-spacing: 2px;
			background-color: $gris;
			padding: 1%;
		   }
		   h4 {
			color: $gris;
			text-shadow: 1px 1px $rojo-oscuro;
			font-size: $size-font-mediana;
			letter-spacing: 1px;
			padding-left: 3%;
		   }
		    p {
			padding: 2%;
		   }
		
		    ul {
			list-style-type: none;
		    }

		  div {

			  ul {
				 list-style-type: none;

			  }
			  img {
				width: 100%;
			  }
			}
		}
	}
	footer {
		color: $gris;
		font-family: $font-general;
		background-color: $fondo-nav;
		margin: 1% 0% 1% 0%;
		div {
			padding-top: 0.5%;
		    h6 {
			   font-size: $size-font-base;
			   margin-bottom: 1%;
			   margin-top: 0%;
		    }
		    p {
			   font-size: $size-font-chica;
		    }
		    a {
			   font-size: $size-font-chica;
		    }
	    }
	}

}



/* Animaciones y Transiciones */
@keyframes imagenPag {
	0% {opacity: 0%;}
	60% {opacity: 50%;}
	100% {opacity: 100%;}
}

.imagenPag {
	animation-name: imagenPag;
	animation-duration: 3s;
	animation-iteration-count: 1;

}

@keyframes animacionTitulos {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}
.animacionTitulos {
	animation-name: animacionTitulos;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

@keyframes animacionSubtitulos {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}
.animacionSubtitulos {
	animation-name: animacionTitulos;
	animation-duration: 4.5s;
	animation-iteration-count: 1;
}

@keyframes animacionHeader {
	0% {transform: translateY(-100%); opacity: 0%;}
	100% {transform: translateY(0%); opacity: 100%;}
}

.animacionHeader {
	animation-name: animacionHeader;
	animation-duration: 3s;
	animation-iteration-count: 1;
}
@keyframes parrafoPagina {
	0% {opacity: 0%;}
	50% {opacity: 0%;}
	100% {opacity: 100%;}
}

.parrafoPagina {
    animation-name: parrafoPagina;
	animation-duration: 5s;
	animation-iteration-count: 1;
}
p.textoContactanos:hover {
	font-size: 120%;
}


@media only screen and (max-width: 767px){
	main {
		font-size: $size-font-base;
		header {
			div {


			
			    img {

				    width: 150px;
	                height: 150px;
	                border: none; 
	            }    
			}
		}
	}

}

	
